* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.articulo-container{
    display: flex;
    justify-content: space-between;
}

.articulo-1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 5%;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0,0.2);
}

.articulo-1 img {
    width: 100%;
    height: auto;
    display: flex;    
}

.art-content {
    padding: 10px;
}

h3, p{
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    width: max-content;
}

header {
    display: flex;
    min-width: 70px;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-link {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    animation: typing 1.3s steps(17),
    blink .5s infinite step-start alternate;
    overflow: hidden;
    color: #04534f;
}
/*codigo de animacion*/
@keyframes typing {
    from { width: 0; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.logokiwi {
    display: flex;
}

.logokiwi img {
    height: 50px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding: right 1mm;
    display: flexbox;
    border-right: 3px solid;
    width: 12ch;
}

nav a:hover {
    color: white;
}

/* Estilos para dispositivos con un ancho máximo de 767 píxeles */
@media (max-width: 767px) {

    /* Por ejemplo, para el elemento header */
    header {
        flex-direction: column; /* Cambiar la dirección de flexión a vertical */
        background-color: #333; /* Cambiar el color de fondo */
        padding: 20px; /* Cambiar el espaciado */
    }

    /* Para el elemento nav */
    nav {
        padding: 10px 0; /* Reducir el padding vertical */
    }

    /* Para el elemento .nav-link */
    .nav-link {
        width: auto; /* Permitir que el ancho sea dinámico según el contenido */
        border: none; /* Eliminar el borde */
        animation: none; /* Detener la animación */
        color: #fff; /* Cambiar el color de texto */
    }

    /* Para el elemento nav a */
    nav a {
        display: block; /* Cambiar a bloque para que los enlaces aparezcan uno debajo del otro */
        border: none; /* Eliminar el borde */
        width: auto; /* Permitir que el ancho sea dinámico según el contenido */
        padding: 5px; /* Cambiar el espaciado */
    }

    /* Para los enlaces nav a:hover */
    nav a:hover {
        color: black; /* Cambiar el color de texto en el estado hover */
    }

    .articulo-container{
        display: flex;
        justify-content: space-between;
    }
    
    .articulo-1 {
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: 5%;
        border-radius: 6px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0px 1px 10px rgba(0, 0, 0,0.2);
    }
    
    .articulo-1 img {
        width: 100%;
        height: auto;
        display: flex;    
    }
    
    .art-content {
        padding: 10px;
    }
    
    h3, p{
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: black;
        width: max-content;
    }
}


#texto-animado {
    display: block;
    content: '|';
    white-space: nowrap;
    border-right: 4px solid;
    width: 17ch;
    animation: typing 1.3s steps(17),
    blink .5s infinite step-start alternate;
    overflow: hidden;
    color: #043e3a;
}

